.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr); 

  margin: 92px 24px 92px 24px;
  align-items: center;
}
.header__menu {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  justify-content: start;
}

.header__menu-list {
display: flex;
gap:  32px;
padding-left: 34.19px; 
font-size: 18px;
list-style: circle;
text-underline-position: under;
text-decoration-thickness: 1px;
text-underline-offset: 1px;
}

li:first-child {
  list-style: none;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.header__logo {
  grid-column-start: 6;
  grid-column-end: 8;
  box-sizing: border-box;
  width: 148px;
  height: 105px;

  align-self: center;
  justify-self: center;
}

.header__info {
  grid-column-start: 8;
  grid-column-end: 13;
  display: grid;
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  padding-right: 30px;
  justify-content: end;
}

.header__info-phone,
.header__info-email {
  border-top: 3px;
  text-underline-position: under;
  text-decoration-thickness: 1px;
  width: 240px;
height: 24px;
flex-shrink: 0;
}



