.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  margin: 92px 24px 88px 24px;
}

.header__menu {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  justify-content: start;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  padding-left: 35px;
  font-size: 18px;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.5px;
  text-underline-position: under;
  list-style: circle;
}

li:first-child {
  list-style: none;
}

.header__menu-link_active 
.header__menu-link {
  text-decoration: none;
}

.header__logo {
  grid-column-start: 6;
  grid-column-end: 8;
  justify-self: center;
  align-self: center;
  box-sizing: border-box;
}

.header__logo-image {
  box-sizing: border-box;
  width: 148px;
  height: 105px;
  margin-top: 2px;
}

.header__info {
  display: grid;
  grid-column-start: 8;
  grid-column-end: 13;
  justify-content: end;
  padding-right: 30px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header__info-phone,
.header__info-email {
  flex-shrink: 0;
  width: 240px;
  height: 24px;
  border-top: 3px;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

/* section cover 1 */
.cover {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  max-width: 1100px;
  min-height: 745px;
  margin: 0 9px ;
  background-image: url(../images/cover.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
background-color: rgba(0, 0, 0, 0.5);
}

.cover__title {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_left {
  padding-top: 162px;
  padding-left: 47px;
}

.aligned-text_center {
  padding-top: 11px;
  padding-left: 330px;
}

.aligned-text_right {
  padding-top: 4px;
  padding-right: 17px;
  text-align: right;
}

.letter-spacing-extended {
  color: #ffffff;
  line-height: 115%;
  letter-spacing: 58px;
  text-transform: uppercase;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 68px;
  margin-top: 123px;
  margin-right: 49px;
}

.cover__description-text {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 252px;
  height: 52px;
  border:  solid 1px #ffffff;
  border-radius: 0;
  color: #ffffff;
  font-family: Raleway;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

/* lots section */

.lots {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 176px 9px 0 33px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 37px;
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
}

  .lots__card-list {
  display: flex;
  gap: 25px;
  list-style-type: none;
  flex-wrap: wrap;
  flex-grow: 1;
}

.card-link {
  text-decoration-line: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 328px;
  min-height: 554px;
  height: 554px;
  background-repeat: no-repeat;
  background-size: 328px 554px, cover;
  position: relative;
  z-index: -1;
}

.card__title {
  margin-top: 48px;
  margin-left: 39px;
  color: #FFF;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%; /* 26.4px */
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: none;
  text-underline-offset: 2px;
  text-transform: uppercase;
}

/* межбуквенное расстояние ниже сдлано для "РР", но я думаю ошибка в макете и этот тут лишнее*/ 

.letter-spacing-card-title {
  letter-spacing: 3px;
}

/*во второй карточке с расположением текста в макете ошибка появившаяся после переделки макета,
т.к. текст выравнивается по нижней границе */

.card__text {
  width: 254px;
  margin-bottom: 46px;
  margin-left: 39px;
  color: #FFF;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link {
  box-sizing: border-box;
  margin-top: 29px;
  margin-left: 39px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

.card_type_film {
  background-image: url(../images/card-lot-01.png);
}
.card_type_book {
  background-image: url(../images/card-lot-02.png);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.png);
}

/* about section */

.about {
  margin: 176px 9px 0 9px;
  display: grid;
  grid-template-columns: 375px 1fr;

}

.about__logo {
  display: flex;
  margin-left: 70px;
  border-radius: 50%;
  background-color: #000;
  width: 237px;
  height: 237px;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

/* по заданию заголовок должен быть по центру логотипа (по РР не сходится)*/

.about__column {
  display: flex;
  flex-direction: column;
  margin-left: 2px;
}

.about__title {
  display: flex;
  align-items: center;
  height: 237px;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.about__text {
  display: flex;
  padding-right: 12px;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  margin-bottom: 25px;
}

.about__text:last-child {
  margin-bottom: 0;
}

/* footer */

.footer {
  display: flex;
  margin: 182px 58px 89px 58px;
  justify-content: space-between;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.footer__info-phone,
.footer__info-email {
  flex-shrink: 0;
  width: 240px;
  height: 24px;
  border-top: 3px;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

.footer__menu-item {
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1px;
  text-underline-position: under;
}


.footer__menu-link_active .footer__menu-link {
  text-decoration: none;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.5px;
}

.footer__social-list {
  display: flex;
  list-style-type: none;
  gap: 46px;
}

.footer__social-icon {
  height: 48px;
}





